<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">


   <test verbose="2" preserve-order="true" name="Samsung">
        <parameter name="platformName" value="Android"/>
        <parameter name="udid" value="ce10171ab374340704"/>
        <parameter name="version" value="9.0"/>
        <parameter name="deviceName" value="Samsung Galaxy S8+"/>
        <classes>
            <class name="qa.org.runners.BaseClassRunner"/>
        </classes>
    </test>


    <test verbose="2" preserve-order="true" name="Simulator -IOS ">
        <parameter name="platformName" value="iOS"/>
        <parameter name="udid" value="45023570-5CDF-48A6-AF58-94F357C2F9D3"/>
        <parameter name="version" value="17.0"/>
        <parameter name="deviceName" value="iPhone 15"/>
        <classes>
            <class name="qa.org.runners.BaseClassRunner"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Emulator- Android">
        <parameter name="platformName" value="Android"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="version" value="12.0"/>
        <parameter name="deviceName" value="Pixel6a"/>
        <classes>
            <class name="qa.org.runners.BaseClassRunner"/>
        </classes>
    </test>

</suite>